.title{
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: rgba(212, 212, 212, 0.533);
}
.elem{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(212, 212, 212, 0.886);
}
.calc{
    display: flex;
    background-color: rgba(212, 212, 212, 0.533);
    &__title{
        background: #fff;
        padding: 10px;
        border: 1px solid black;
        cursor: pointer;
        font-size: 20px;
        &_active{
            background-color: rgba(212, 212, 212, 0.886);
            border-bottom: none;
        }
    }
}
.wrapper{
    display: block;
    margin: 0 auto;
    width: 300px;
}
.text{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    color: rgb(81, 81, 81);
}
.input{
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    border:2px solid #0000;
    border-radius: 5px;
}
.button{
    margin-top: 10px;
    width: 100%;
    margin-top: 10px;
    height: 30px;
    background-color: rgba(59, 131, 213, 0.849);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button__clear{
    margin-top: 10px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}
.markup{
    display: none;
}